.headerBG {
    background: url("../../../assets/BGArticles.svg") no-repeat;
    height: 70vh;
    width: 100vw;
    background-size: cover;
}

.header{
    overflow-y:hidden;
}

.selectInput{
    border-radius: 1rem;
    outline: none;
    border: solid .5px #c8c6c6
}

.title{
    font-size: 4rem;
}


.recImg{
    border-radius: 16px;
}

.wrapperRec{
    width: 14rem;
    height: 20rem;
    box-shadow: 0px 10px 40px rgb(0 0 0 / 20%);
    border-radius: 16px;
}