.con{
    height: 100vh;
}

.conreg{
    overflow-y: auto;
    min-height: 100vh;
}

.boxleft, .boxright{
    padding: 1.5rem 5rem
}

.radiusbtn{
    border-radius: 1rem;
    font-size: 1.5rem;
    border: solid 1px #c8c6c6;
}

.radiusbtn:hover{
    color: #c8c6c6!important;
    cursor: pointer;
    background-color: #fff5de!important;
}

.inputBorder{
    border: solid 1px #c8c6c6;
    border-radius: 1rem;
}

@media screen and (min-width: 240px) and (max-width: 968px) {
    .boxright{
        width: 100vw!important;
        padding: 1.5rem;
        background-color: #fff5de;
    }

    .wrapperMobile{
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        box-shadow: 0px 10px 21px #4c6687;
    }

    .wrapperMobileHead{
        height: 25vh;
    }

    .con{
        background-color: #fff5de!important
    }

    .loginText{
        border-bottom: solid 2px #4c6687;
        line-height: 1rem;
    }
    
.conreg{
    min-height: 75vh!important;
    overflow: hidden;
}

.inputBorder{
    border: none;
    border-bottom: solid 1px #c8c6c6;
    border-radius: 0;
    outline: none;
}

}