.selectInput{
    border-radius: 1rem;
    outline: none;
    border: solid .5px #c8c6c6
}

.artsessions{
    min-height: 80vh;
}

.recImg{
    border-radius: 16px;
}

.wrapperRec{
    width: 20rem;
    height: 20rem;
    box-shadow: 0px 10px 40px rgb(0 0 0 / 20%);
    border-radius: 16px;
}
