.boxleft, .boxright{
    padding: 1.5rem 5rem
}

.con{
    height: 100vh;
}

.radiusbtn{
    border-radius: 1rem;
    font-size: 1.5rem;
}

.radiusbtn:hover{
    color: #fff5de!important;
    cursor: pointer;
}